<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>

    <style>

    #prod{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
    }
        #prod > div{
            /* border: 1px solid red; */
        }
       #prod > div >  img{
            max-width: 200px;
          
        }
    </style>

</head>
<body>
    
    <form id="form">
        <input type="text" name="title" placeholder="title" id="title">
        <input type="number" name="price" placeholder="price" id="price">
        <input type="text" name="description" placeholder="descrption" id="description">
        <input type="url" name="img" placeholder="Enter image" id="image">
        <input type="submit" value="Post" id="type">
    </form>

    <div id="prod"></div>

</body>

<script>

let id = -1;

const Add = (product) => {
    fetch("/product/create", {
        method: "POST",
        headers: { "Content-Type" : "application/json"},
        body: JSON.stringify(product)
    }).then(() => get());
    }

    const Update = (data) => {
        fetch(`/product/update/${id}`, {
            method: "PATCH",
            headers : { "Content-Type" : "application/json"},
            body: JSON.stringify(data)
        }).then(() => get())
    }

    document.getElementById("form").addEventListener("submit", (e) => {
        e.preventDefault()
        let product = {
            title : document.querySelector("#title").value,
            price : document.querySelector("#price").value,
            description : document.querySelector("#description").value,
            img : document.querySelector("#image").value
        }

        // console.log(product)
        let type = document.querySelector("#type").value;
        if(type == "Post"){
            Add(product)
        }
        else{
            Update(product)
        }
       
    })


    const handlDelete = (id) => {
     fetch(`/product/delete/${id}`, {
        method: "DELETE"
     }).then(() => get())
    }

    const handleEdit = (data) => {
        document.querySelector("#title").value = data.title,
        document.querySelector("#price").value = data.price,
        document.querySelector("#description").value = data.description,
        document.querySelector("#image").value = data.img,
        document.querySelector("#type").value = "Update"
        id = data._id
    }

    
const uimaker = (data) => {


    let prod = document.getElementById("prod");
    prod.innerHTML = " "
    data.map((ele) => {
        let div = document.createElement("div");
        let img = document.createElement("img");
        img.src=ele.img;
        let title = document.createElement("h2");
        title.textContent = ele.title;
        let price = document.createElement("h3");
        price.textContent = ele.price;
        let description = document.createElement("p");
        description.textContent = ele.description;
        let btn1 = document.createElement("button");
        btn1.textContent="Edit"
        btn1.addEventListener("click", () => handleEdit(ele))

        let btn2 = document.createElement("button");
        btn2.textContent="Delete"
        btn2.addEventListener("click" , () => handlDelete(ele._id))

        div.append(img, title, price, description, btn1, btn2)
      
        prod.append(div)
    })
}


    const get = async () => {
    let req = await fetch("/product/products");
    let res = await req.json();
    console.log(res);

    uimaker(res)
    }
    get();

</script>
</html>