<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>

    <style>

        .container{
            max-width: 1320px;
            margin: auto;
        }
    #prod{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap:20px;
    }
        #prod > div{
            /* border: 1px solid red; */
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;
            text-align: center;
            padding: 20px;
            font-family: arial;
        }
       #prod > div >  img{
            max-width: 200px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          
        }

        #form{
            border: 1px solid red;
            text-align: center;
            padding: 20px;
        }
        #form input{
            padding: 10px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            margin: 0px 10px;
            border-radius: 5px;
        }

        .h3{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            width: fit-content;
           position: fixed;
           right: 100px;
           top:100px;
            margin: auto;
        }
            
            </style>

</head>
<body >
    
    <div class="container">
        <form id="form">
            <input type="text" name="title" placeholder="title" id="title">
            <input type="number" name="price" placeholder="price" id="price">
            <input type="text" name="description" placeholder="descrption" id="description">
            <input type="url" name="img" placeholder="Enter image" id="image">
            <select name="" id="category">
                <option value="66f01f68265ddd175f18c29c">Eletronics</option>
            </select>
            <select name="" id="subcategory">
                <option value="66f0277dd1c38be6f955e0e0">Mobiles</option>
            </select>
            <select name="" id="extracategory">
                <option value="66fa162d6ed7c5971202ff5d">Smart Phones</option>
            </select>
            <br/>
            <br/>
            <input type="submit" value="Post" id="type">
        </form>

        <h3 class="h3"><%= info[0] %></h3>

        <div id="prod"></div>
    </div>
    

</body>

<script>

let id = -1;

const Add = (product) => {
    fetch("/product/create", {
        method: "POST",
        headers: { "Content-Type" : "application/json"},
        body: JSON.stringify(product)
    }).then(() => get());

    setTimeout(() => {
        window.location.reload()
    }, 500)
    }

    const Update = (data) => {
        fetch(`/product/update/${id}`, {
            method: "PATCH",
            headers : { "Content-Type" : "application/json"},
            body: JSON.stringify(data)
        }).then(() => get());
        
        setTimeout(() => {
        window.location.reload()
    }, 500)
    }

    document.getElementById("form").addEventListener("submit", (e) => {
        e.preventDefault()
        let product = {
            title : document.querySelector("#title").value,
            price : document.querySelector("#price").value,
            description : document.querySelector("#description").value,
            img : document.querySelector("#image").value,
            categoryId:document.querySelector("#category").value,
            subcategoryId:document.querySelector("#subcategory").value,
            extraId: document.querySelector("#extracategory").value
        } 

        // console.log(product)
        let type = document.querySelector("#type").value;
        if(type == "Post"){
            Add(product)
        }
        else{
            Update(product)
        }
       
    })


    const handlDelete = (id) => {
     fetch(`/product/delete/${id}`, {
        method: "DELETE"
     }).then(() => get());

     setTimeout(() => {
        window.location.reload()
    }, 500)
    }

    const handleEdit = (data) => {
        document.querySelector("#title").value = data.title,
        document.querySelector("#price").value = data.price,
        document.querySelector("#description").value = data.description,
        document.querySelector("#image").value = data.img,
        document.querySelector("#type").value = "Update"
        id = data._id
    }

    
const uimaker = (data) => {


    let prod = document.getElementById("prod");
    prod.innerHTML = " "
    data.map((ele) => {
        let div = document.createElement("div");
        let img = document.createElement("img");
        img.src=ele.img;
        let title = document.createElement("h2");
        title.textContent = ele.title;
        let price = document.createElement("h3");
        price.textContent = ele.price;
        let description = document.createElement("p");
        description.textContent = ele.description;
        let btn1 = document.createElement("button");
        btn1.textContent="Edit"
        btn1.addEventListener("click", () => handleEdit(ele))

        let btn2 = document.createElement("button");
        btn2.textContent="Delete"
        btn2.addEventListener("click" , () => handlDelete(ele._id))

        div.append(img, title, price, description, btn1, btn2)
      
        prod.append(div)
    })
}


    const get = async () => {
    let req = await fetch("/product/products");
    let res = await req.json();
    console.log(res);

    uimaker(res)
    }
    get();

</script>
</html>