<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>
    
    <form action="/product/create" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="number" name="price" placeholder="price">
        <input type="text" name="description" placeholder="descrption">
        <input type="url" name="img" placeholder="Enter image">
        <button>Submit</button>
    </form>

</body>
</html>