
<html>
<head>
    <title>Contact pages</title>

    <style>
        body{
            background-color:skyblue;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Welcome to the Contact</h1>

    <a href="/">index</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/home">Home</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contact">Contact</a>
    
</body>
</html>