
<html>
<head>
    <title>Home pages</title>

    <style>
        body{
            background-color:aquamarine;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Welcome to the Home</h1>

   
    <a href="/">index</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/home">Home</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contact">Contact</a>
    
    
</body>
</html>